# Chipset vendor
import /vendor/etc/init/hw/init.qcom.rc

# to override init.qcom.rc and init.target.rc
import /vendor/etc/init/hw/init.lge.rc
import /vendor/etc/init/hw/init.lge.usb.rc
import /vendor/etc/init/hw/init.lge.usb.configfs.rc

service vendor.nfc_hal_service-cxd22xx /vendor/bin/hw/android.hardware.nfc@1.2-service-cxd22xx
    interface android.hardware.nfc@1.0::INfc default
    interface android.hardware.nfc@1.1::INfc default
    interface android.hardware.nfc@1.2::INfc default
    class hal
    user nfc
    group nfc
    disabled

on post-fs
    # change permissions on ioninfo
    chown root log /proc/ioninfo
    chmod 0440 /proc/ioninfo

# CAMERA: create tof for calibration data
    mkdir /mnt/vendor/persist-lg/tof 0775 camera camera

on post-fs-data
# NFC: create data/nfc for nv storage
    mkdir /data/vendor/nfc 0770 nfc nfc
